{% extends "layout.html" %}
{% load utils %}


{% block content %}

  <h1>Answers for {{ country }}</h1>
  (<a href="% url 'management:management' %}">back to country list?</a>)
  {% regroup surveys by category as surveys_by_category %}

  {% for survey_category in surveys_by_category %}

    {% assign survey_category.grouper as category %}
    {% get_survey_form category as form %}

    <h2>{{ category }}</h2>
    <p>{{ category.description }}</p>

    {% for survey in survey_category.list %}
      {% include "view.html" %}
    {% endfor %}

  {% endfor %}

{% endblock %}