{% extends "layout.html" %}

{% block content %}

<p class="system-msg">

Each time you click the "Save and continue" button when submitting an answer, the answer is instantaneously saved. <br /><br />
There is no need to submit the questionnaire at the end. You can anytime return here and edit your answers or add more.

</p>

  {% include "section_a/index.html" %}

  {% include "section_b/index.html" %}

  {% include "section_c/index.html" %}

  {% include "section_d/index.html" %}

  {% include "section_e/index.html" %}

<p class="system-msg">

Each time you click the "Save and continue" button when submitting an answer, the answer is instantaneously saved. <br /><br />
There is no need to submit the questionnaire at the end. You can anytime return here and edit your answers or add more.

</p>

{% endblock %}